<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="background-color: #8FBC8F;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Green Thumb</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/plants">Plant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/plants/2/tasks/new">Plant Task</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="nav-item">
       <% if current_user %>
         <p>Hello, <%= current_user.name %>!
         <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
       <% else %>
         <%= link_to 'Register', new_user_registration_path %>
         <%= link_to 'Login', new_user_session_path %>
       <% end %>
    </div>
    </form>
  </div>
</nav>



  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Green Thumb</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="http://localhost:3000/#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="http://localhost:3000/plants">Plants</a>
      <a class="nav-item nav-link" href="http://localhost:3000/plants/2/tasks/new">Plant Task</a>
    </div>
    <div class="nav-item nav-link">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->